body{
    background: black;
    margin:0;
    padding:0;
    max-height: 100vh;
    overflow: hidden;
}
header{
    color:white;
}

#title{
    text-align: center;
    font-size: 3rem;
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
}


main{
    position:relative;
    transition: '0.5s';
}

#cat-body{
    display:grid;
    max-width: 100em;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    z-index:-1;
}
#eye-right,
#eye-left{
    height: 7em;
    width: 13em;
    background: rgb(189, 177, 6);
    border-radius: 0 0 20% 20%/0 0 100% 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#pupil{
    background: black;
    height:5rem;
    width:1rem;
    border-radius: 100%;

}

#front-page-buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    position:fixed;
    right:0;
    left:0;
    top:50%;
    margin: 0 5rem;
} 

.main-button{
    text-align: center;
    color:white;
    background:none;
}

.button-design{
    background: none;
    color:white;
    padding: 1rem 5rem;
    border: blue 1px solid;
    cursor:pointer;
    transition: 0.5s;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.button-design:hover{
    background:rgb(140, 4, 230);
    font-size: 1.7rem;
    border: white solid;
    box-shadow: 3px 3px 8px 4px rgba(140, 4, 230, 0.8);
}

#description{
    color:white;
}

.grass{
    position:fixed;
    height:30%;
    background: rgb(2, 88, 16);
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}

.sky{
    position:fixed;
    height:70%;
    top:0;
    left:0;
    right:0;
    background-color: lightblue;
    z-index:1;
}
.Tora{
    position: absolute;
    left: 10rem;
    bottom: -10rem;
    height: 60%;
    z-index: 1;
    transition: 2s;
}

.chatbox1{
    position:absolute;
    bottom:0rem;
    left: 0rem;
    right:0;
    min-height: 8rem;
    background: rgba(10, 10, 10, 0.6);
    padding-top: 2rem;
    padding-left: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:white;
    z-index:2;
    font-size: 1rem;
    transition: 2s;
}
.meowbutton{
    position:absolute;
    padding: 1rem 4rem;
    background: none;
    border: 1px rgb(255, 255, 255) solid;
    color:rgb(255, 255, 255);
    cursor:pointer;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: font-size 0.5s;
    right: 5rem;
}

.meowbutton:hover{
    background:rgb(140, 4, 230);
    color:white;
    font-size: 1rem;
}

.canvaspacman{
    width: 60px;
    height:60px;
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    
    .Tora{
        position: absolute;
        left: 10rem;
        bottom: 0rem;
        height: 60%;
        z-index: 1;
    }
}

